<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Application</display-name>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>com.mycompany.application.MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>com.mycompany.application.ProjectControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.mycompany.application.EmployeeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskControl</servlet-name>
        <servlet-class>com.mycompany.application.TaskControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/lists/employees</url-pattern>
        <url-pattern>/lists/projects</url-pattern>
        <url-pattern>/lists/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/lists/add_project</url-pattern>
        <url-pattern>/lists/edit_project</url-pattern>
        <url-pattern>/lists/delete_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/lists/add_employee</url-pattern>
        <url-pattern>/lists/edit_employee</url-pattern>
        <url-pattern>/lists/delete_employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskControl</servlet-name>
        <url-pattern>/lists/add_task</url-pattern>
        <url-pattern>/lists/delete_task</url-pattern>
        <url-pattern>/lists/edit_task</url-pattern>
        <url-pattern>/lists/assign_task</url-pattern>
        <url-pattern>/lists/remove_task</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
